<!DOCTYPE html>
<html>
  <head>
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="css/battleship.css" />
  </head>
  <body>
    <h1>Battleship Game : <span id="turn-message"></span></h1>

    <div class="game-container">
      <div class="board-container opponent-board-container">
        <h2>Opponent's Board</h2>
        <table class="opponent-board">
          <!-- Opponent board cells will be dynamically generated -->
        </table>
      </div>
      <div class="board-container player-board-container">
        <h2>Your Board</h2>
        <table class="player-board">
          <!-- Player board cells will be dynamically generated -->
        </table>
      </div>
    </div>
    <script src="js/client3.js"></script>
  </body>
</html>
