<!DOCTYPE html>
<html>
  <head>
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Battleship Game</h1>
      <div class="message-area">
        <div id="server-messages"></div>
      </div>
      <div class="button-area">
        <button id="ready-button">Not Ready</button>
      </div>
    </div>
    <script src="js/client1.js"></script>
  </body>
</html>
